@{
    Layout = "_Layout";
}

@using PaparaBootcampBitirmeProjesi.BLL.Models.UserDTO
@using PaparaBootcampBitirmeProjesi.Core.Enums

@model CreateUserDTO

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Daire Sakini Ekle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post" asp-action="CreateUser">
        <div class="card-body">
            <div class="form-group">
                <label asp-for="FirstName">İsim</label>
                <input asp-for="FirstName" type="text" class="form-control" placeholder="İsim">
                <span asp-validation-for="FirstName" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="SecondName" class="control-label">İkinci İsim</label>
                <input asp-for="SecondName" type="text" class="form-control" placeholder="İkinci İsim" />
                 <span asp-validation-for="SecondName" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Soyisim</label>
                <input asp-for="LastName" type="text" class="form-control" placeholder="Soyisim" />
                <span asp-validation-for="LastName" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="IdentityNumber" class="control-label">TC Kimlik No</label>
                <input asp-for="IdentityNumber" type="text" class="form-control" placeholder="TC Kimlik No" />
                <span asp-validation-for="IdentityNumber" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone</label>
                <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Telefon Numarası" />
                <span asp-validation-for="PhoneNumber" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" type="email" class="form-control" placeholder="E-Mail" />
                <span asp-validation-for="Email" style="color:red;"></span><br />
            </div>
            <div class="form-group">
               <label asp-for="Apartment.Resident">Daire Sakini Durumu</label>
                <select asp-for="Apartment.Resident" class="custom-select form-control-border" asp-items="Html.GetEnumSelectList<ResidentType>()">
                    <option>Lütfen daire sakini tipini seçiniz...</option>
                </select>
                <span asp-validation-for="Apartment.Resident" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="Apartment.Type">Daire Tipi</label>
                <select asp-for="Apartment.Type" class="custom-select form-control-border" asp-items="Html.GetEnumSelectList<ApartmentType>()">
                    <option>Lütfen daire tipini seçiniz...</option>
                </select>
                <span asp-validation-for="Apartment.Type" style="color:red;"></span><br />
            </div>         
            <div class="form-group">
                <label asp-for="Apartment.Block">Daire Tipi</label>
                <select asp-for="Apartment.Block" class="custom-select form-control-border" asp-items="Html.GetEnumSelectList<Block>()">
                    <option>Lütfen bloğu seçiniz...</option>
                </select>
                <span asp-validation-for="Apartment.Block" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="Apartment.Floor" class="control-label">Kat</label>
                <input asp-for="Apartment.Floor" type="text" class="form-control" placeholder="Kat" />
                <span asp-validation-for="Apartment.Floor" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="Apartment.ApartmentNo" class="control-label">Daire No</label>
                <input asp-for="Apartment.ApartmentNo" type="text" class="form-control" placeholder="Daire No" />
                <span asp-validation-for="Apartment.ApartmentNo" style="color:red;"></span><br />
            </div>
            <div class="form-group">
                <label asp-for="Vehicle.Brand" class="control-label">Aracın Markası</label>
                <input asp-for="Vehicle.Brand" type="text" class="form-control" placeholder="Aracın Markası" />
                 <span asp-validation-for="Vehicle.Brand" style="color:red;"></span><br />
            </div>
             <div class="form-group">
                <label asp-for="Vehicle.Model" class="control-label">Aracın Modeli</label>
                <input asp-for="Vehicle.Model" type="text" class="form-control" placeholder="Aracın Modeli" />
                 <span asp-validation-for="Vehicle.Model" style="color:red;"></span><br />
            </div>
             <div class="form-group">
                <label asp-for="Vehicle.LicensePlate" class="control-label">Aracın Plakası</label>
                <input asp-for="Vehicle.LicensePlate" type="text" class="form-control" placeholder="Aracın Plakası" />
                 <span asp-validation-for="Vehicle.LicensePlate" style="color:red;"></span><br />
            </div>
            

        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Ekle</button>
        </div>
    </form>
</div>