@using PaparaBootcampBitirmeProjesi.BLL.Models.MessageDTO

@model List<GetInboxMessagesDTO>
@{
    ViewData["Title"] = "Gelen Mesajlar";
    int count = 0;
}
<h1>Gelen Mesajlar</h1>

<table class="table table-bordered"
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Mesajı Aç</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@count</th>
            <th>@item.SenderMail</th>
            <th>@item.Subject</th>
            <th>@item.CreationDate</th>
            <th>Sil</th>
            <th>Mesajı Aç</th>
        </tr>
    }
</table>

